.nav {
  &-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 98rem;
    margin: 0 auto;
    li a {
      text-decoration: none;
      color: inherit;
      font-weight: 200;
      font-size: 1.28rem;
    }
    list-style: none;
  }
  &-icon {
    width: 10px;
    height: 10px;
  }
}
