* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Open Sans", sans-serif; }

.nav-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 98rem;
  margin: 0 auto;
  list-style: none; }
  .nav-link li a {
    text-decoration: none;
    color: inherit;
    font-weight: 200;
    font-size: 1.58rem;
    opacity: 0.5; }
    .nav-link li a::first-letter {
      text-transform: uppercase; }
    .nav-link li a:hover {
      opacity: 0.8; }

.nav-icon {
  width: 2rem;
  height: 2rem;
  opacity: 0.8 !important; }
  .nav-icon:hover {
    opacity: 1 !important; }

.header {
  background-color: black;
  padding: 2rem;
  font-weight: 200;
  font-size: 0.8rem;
  color: #fff; }

.section-1 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
