* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.blueBG {
  background-color: blue;
  padding: 1.2rem;
  text-align: center;
}
#banner {
  margin-bottom: 2rem;
}
.banImage {
  width: 100%;
}
.main {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pup {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-bottom: 1.3rem;
}

.missingPuppy {
  padding: 3rem;
  background-color: brown;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pupp-2 {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.1rem;
}
.pup-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  width: 100%;
}
.more-pupp {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1.2rem;
}

.big {
  font-weight: 700;
}
.boxes {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-bottom: 2px;
  border-bottom: 1px solid #000;
  padding-bottom: 1.2rem;
  justify-items: center;
}
.box {
  border: 1rem solid #000;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blue {
  background-color: blue;
}
.red {
  background-color: red;
}
.orange {
  background-color: orange;
}
.violet {
  background-color: violet;
}
.aqua {
  background-color: aqua;
}
