* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.blueBG {
  background-color: blue;
  padding: 1.2rem;
  text-align: center;
}
#banner {
  margin-bottom: 2rem;
}
.banImage {
  width: 100%;
}
.main {
}
.pup {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  margin-bottom: 1.3rem;
}

.missingPuppy {
  padding: 3rem;
  width: 87%;
  background-color: brown;
}
.pupp-2 {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.1rem;
}
.pup-img {
  display: flex;
  justify-content: space-around;
}
.more-pupp {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1.2rem;
}
.big {
  font-weight: 700;
}
